.test {
  background-color: #131353; /* primary */
  background-color: #335EFF; /* light */
  background-color: #131353; /* dark */
  background-color: #131353; /* from */
  background-color: #335EFF; /* to */
}